{% extends "layout.html" %}

{% block content %}
<h2>분석 결과</h2>

<div style="width: 500px; height: 500px; margin: 0 auto;">
    <h3>브랜드 지점 수</h3>
    <canvas id="brand-chart" data-brand-info="{{ brand_data|tojson|safe }}"></canvas>
</div>

<script>
    const canvas = document.getElementById('brand-chart');
    const brandData = JSON.parse(canvas.dataset.brandInfo);
    const ctx = canvas.getContext('2d');
    new Chart(ctx, {
        type: 'pie',
        data: {
            labels: brandData.label,
            datasets: [{
                label: '브랜드 지점 수',
                data: brandData.value,
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: true,
        }
    });
</script>
{% endblock %}