<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전국 주유소 유가 시각화·분석 시스템</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert('{{ messages[0] }}');
            </script>
        {% endif %}
    {% endwith %}
    <div class="nav">
        <h1>전국 주유소 유가 시각화·분석 시스템</h1>
        <a href="{{ url_for('index') }}">메인으로</a>
        <a href="{{ url_for('list') }}">데이터 조회</a>
        <a href="{{ url_for('upload') }}">유가 정보 업로드</a>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>